.container {
  background-color: #d1d1d1;
  border: 6px solid black;
  display: inline-flex;
}

.flex-item {
  color: white;
  border: 2px solid white;
  font-size: 1.5rem;
  /* padding: 1rem; */
  text-align: center;
}

.item-kibou {
  background-color: #b4bf35;
  border: 2px solid white;
  width: 500px;
  text-align: left;
}

.container-2 {
  background-color: #d1d1d1;
  border: 6px solid black;
  display: inline-flex;
  height: 100px;
  align-items: flex-end;
}

.item-kasidasi-value {
  background-color: #b96f21;
  border: 2px solid white;
  width: 150px;
  height: 35px;
  font-size: 1.4rem;
}

.item-max {
  background-color: #1c4c56;
  border: 2px solid white;
  height: 40px;
  width: 60px;
  font-size: 1rem;
}

.container-3 {
  background-color: #d1d1d1;
  border: 6px solid black;
  display: inline-flex;
  flex-direction: column;
}

.container-4 {
  background-color: #d1d1d1;
  border: 6px solid black;
  display: inline-flex;
}

.item-jougen {
  background-color: #cfb276;
  border: 2px solid white;
}

.item-jougen-value {
  background-color: #6b0803;
  border: 2px solid white;
}

.item-sankou {
  background-color: #1c4c56;
  border: 2px solid white;
}

.item-bosyuu {
  background-color: #01243a;
  border: 2px solid white;
  width: 200px;
  margin-top: 50px;
  text-align: left;
}

.item-bosyuu-value {
  background-color: #aad041;
  border: 2px solid white;
  width: 200px;
  text-align: right;
}
